html {
    scroll-behavior: smooth;
}

footer {
    background-color: black;
    color: white;
}

.lead{
    font-size: 28px;
}

.fixed-top{
    background-color: #3498DB;
    font-size: 20px;
}

.jumbotron{
    background-color: #85C1E9;
}

body{
    background-color: #AED6F1;
}

.form-group{
    font-size: 22px;
}

.fa {
    padding: 10px;
    font-size: 16px;
    width: 30px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
}

footer .fa:hover {
    color: #dedede;
    text-decoration: none;
}

footer .fa-github {
    color: white;
}