html {
    scroll-behavior: smooth;
}

footer {
    background-color: black;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
}

footer .fa:hover {
    color: #dedede;
    text-decoration: none;
}

footer .fa-github {
    color: white;
}